{{ define "main" }}
<div class="column column-content single">
    <div id="post-{{ .File.UniqueID }}" class="post page type-page status-publish hentry">
        {{ if .Title }}<h1 class="title-header">{{ .Title }}</h1>{{ end }}
        <div class="entry-content clearfix">
            {{ .Content }}

            {{ $items := .Site.Data.publications.publications }}
            {{ $allTypes := slice }}
            {{ range $items }}
                {{ $allTypes = $allTypes | append .type }}
            {{ end }}
            {{ $uniqueTypes := $allTypes | uniq | sort }}

            <p>
                {{ range $index, $element := $uniqueTypes }}
                {{ if $index }} | {{ end }}<a href="#{{ $element | urlize }}">{{ $element }}</a>
                {{ end }}
            </p>

            {{ range $uniqueTypes }}
            {{ $currentType := . }}
            {{ $filtered := where $items "type" $currentType }}
            {{ if $filtered }}
            <h2 id="{{ $currentType | urlize }}">{{ $currentType }}</h2>
            <ul>
                {{ range $filtered }}
                <li>{{ .content | markdownify }}</li>
                {{ end }}
            </ul>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}