
#wpfront-scroll-top-container{display:none;position:fixed;cursor:pointer;z-index:9999}#wpfront-scroll-top-container div.text-holder{padding:3px 10px;border-radius:3px;-webkit-border-radius:3px;-webkit-box-shadow:4px 4px 5px 0 rgba(50,50,50,0.5);-moz-box-shadow:4px 4px 5px 0 rgba(50,50,50,0.5);box-shadow:4px 4px 5px 0 rgba(50,50,50,0.5)}#wpfront-scroll-top-container a{outline-style:none;box-shadow:none;text-decoration:none}
/*
     FILE ARCHIVED ON 13:29:14 Jun 18, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:05:18 Jan 18, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.363 (2)
  exclusion.robots: 0.115 (2)
  exclusion.robots.policy: 0.091 (2)
  esindex: 0.02 (2)
  cdx.remote: 67.401 (2)
  LoadShardBlock: 343.993 (6)
  PetaboxLoader3.datanode: 426.414 (10)
  PetaboxLoader3.resolve: 297.526 (2)
  load_resource: 458.164 (2)
  loaddict: 74.265 (2)
*/