{{ define "main" }}
<div class="column column-content single">
    <div id="post-{{ .File.UniqueID }}" class="post page type-page status-publish hentry">
        {{ if .Title }}<h1 class="title-header">{{ .Title }}</h1>{{ end }}
        <div class="entry-content clearfix">
            {{ if .Params.header_image }}
            <img src="{{ .Params.header_image | relURL }}" alt="Header Image"
                style="width: 100%; height: auto; margin-bottom: 20px;">
            {{ end }}
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}